@model Grapholizer.Web.Models.GraphDisplayModel
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>GRAPH</title>
  <script src="~/Script/SigmaJS/sigma.js"></script>
  <script src="~/Script/SigmaJS/plugins/sigma.parsers.json.min.js"></script>
  <style type="text/css">
    #sigma-container {
      width: 100%;
      height: 500px;
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <div>
    <h1>Graph</h1>
    <div id="sigma-container"></div>
  </div>

  <script>
    sigma.parsers.json(
      'http://localhost/grapholizer.api/graph/@Model.Name/@Model.Node/@Model.Id?size=@Model.Size',
      { container: 'sigma-container' });
  </script>

</body>
</html>
